body, div, table, ul, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	min-width: 800px;
	max-width: 1200px;
	margin: 8px auto;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	color: #FFF;
}

div, ul {
	margin: 2px;
	padding: 2px;
}

table {
	width: 100%;
	margin: 8px 0;
	border-style: none;
	border-collapse: separate;
	font-size: 100%;
}

h1 {
	text-align: center;
}

a {
	color: #FFF;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.content {
	width: 70%;
	padding-top: 8px;
	float: left;
}

.sidebar {
	width: 25%;
	padding-top: 8px;
	float: right;
}

.sidebar+div {
	clear: both;
}

div.container {
	margin: 8px auto;
	padding: 0.5em;
	border: 1px solid #DDD;
	border-radius: 0.5em;
	box-shadow: 0 0 1em #DDD;
}

div.container .heading {
	border-bottom: 1px solid #AAA;
	padding-bottom: 4px;
	font-size: 120%;
	font-weight: bold;
}

ul.menu {
	list-style: none;
}

ul.menu li {
	margin-right: 1em;
	float: left;
}

ul.menu+div {
	clear: both;
}

a.choice {
	padding: 2px;
	text-decoration: none;
	color: #DDD;
}

a.choice:hover, a.choice:active, a.choice.current {
	background-color: #888;
	border-radius: 0.3em;
}

div.left-column, div.right-column {
	width: 48%;
}

div.left-column {
	float: left;
}

div.right-column {
	float: right;
}

div.right-column+div {
	clear: both;
}

table th {
	background-color: #024;
	padding: 2px 0.8em;
	text-align: left;
	color: #FC3;
}

table td {
	padding: 0 0.8em;
}

table.fixed {
	table-layout: fixed;
}

table.gadget a {
	color: #FF0;
}

table.match-list {
	margin-top: -8px;
	margin-bottom: -8px;
	table-layout: fixed;
}

table.match-list td.match {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table.match-list td.time {
	color: #00A900;
}

div.pagination strong {
	font-style: oblique;
}

.disabled {
	text-decoration: line-through;
}

a.match {
	color: #F90;
}

table.tight {
	border-collapse: collapse;
	font-size: 12px;
}

.coder, .rating {
	font-weight: bold;
}

.coder.l1, .rating.l1 {
	color: #E00;
}

.coder.l2, .rating.l2 {
	color: #DC0;
}

.coder.l3, .rating.l3 {
	color: #66F;
}

.coder.l4, .rating.l4 {
	color: #00A900;
}

.coder.l5, .rating.l5 {
	color: #999;
}

.result.java, .result.cpp, .result.csharp, .result.vb {
	font-style: oblique;
	font-weight: bold;
}

.result.java {
	color: #00FF00;
}

.result.cpp {
	color: #FFFF99;
}

.result.csharp {
	color: #6666FF;
}

.result.vb {
	color: #81D9FF;
}

.result.failed {
	font-style: oblique;
	color: #F03;
}

.result.hacked {
	font-style: oblique;
	font-weight: bold;
	color: #0F0;
}

.bonus.up {
	font-style: oblique;
	font-weight: bold;
	color: #0F0;
}

.bonus.down {
	font-style: oblique;
	font-weight: bold;
	color: #F03;
}

.rating-change.up {
	color: #0F0;
}

.rating-change.down {
	color: #F00;
}
